@charset "UTF-8";
/* ====================================================
Font
==================================================== */
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100;200;300;400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Noto+Serif+JP:wght@200;300;400;500;600;700;900&display=swap");
/* ====================================================
reset style
==================================================== */
html {
  overflow-y: scroll;
  overflow-x: hidden;
  font-size: 10px;
  /* Base font size, change to 14px or 16px if needed */
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, code, form, fieldset, legend, input, textarea, p, blockquote, th, td {
  margin: 0;
  padding: 0;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

fieldset, img {
  border: 0;
}

img {
  vertical-align: middle;
  max-width: 100%;
  height: auto;
}

address, caption, cite, code, dfn, var {
  font-style: normal;
  font-weight: normal;
}

li {
  list-style: none;
}

caption, th {
  text-align: left;
}

h1, h2, h3, h4, h5, h6 {
  font-size: 100%;
  font-weight: normal;
}

q:before, q:after {
  content: "";
}

abbr, acronym {
  border: 0;
  font-variant: normal;
}

sup {
  vertical-align: text-top;
}

sub {
  vertical-align: text-bottom;
}

input, textarea, select, button {
  font-family: inherit;
  font-size: inherit;
  font-weight: inherit;
  outline: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

/*to enable resizing for IE*/
input, textarea, select {
  *font-size: 100%;
}

/*because legend doesn't inherit in IE */
legend {
  color: #000;
}

del, ins {
  text-decoration: none;
}

main {
  display: block;
}

section {
  position: relative;
}

/* ====================================================
Media Quary
==================================================== */
/* ====================================================
// flexセット
==================================================== */
/* ====================================================
画像などを縦横比を維持したままレスポンシブ対応
*画像やGoogle Map、YouTubeの埋め込みなどを縦横比を維持したままレスポンシブ対応
.photo {
  // 画像を16:9にトリミングして縦横比を常に保つ
  @include aspect-ratio(16, 9);

  & > .image {
    @include object-fit(cover);
  }
}
==================================================== */
@media screen and (min-width: 835px) {
  .mbpc-1 {
    margin-bottom: 1px !important;
  }
}
@media screen and (max-width: 834px) {
  .mbsp-1 {
    margin-bottom: 1px !important;
  }
}
@media screen and (min-width: 835px) {
  .mbpc-2 {
    margin-bottom: 2px !important;
  }
}
@media screen and (max-width: 834px) {
  .mbsp-2 {
    margin-bottom: 2px !important;
  }
}
@media screen and (min-width: 835px) {
  .mbpc-3 {
    margin-bottom: 3px !important;
  }
}
@media screen and (max-width: 834px) {
  .mbsp-3 {
    margin-bottom: 3px !important;
  }
}
@media screen and (min-width: 835px) {
  .mbpc-4 {
    margin-bottom: 4px !important;
  }
}
@media screen and (max-width: 834px) {
  .mbsp-4 {
    margin-bottom: 4px !important;
  }
}
@media screen and (min-width: 835px) {
  .mbpc-5 {
    margin-bottom: 5px !important;
  }
}
@media screen and (max-width: 834px) {
  .mbsp-5 {
    margin-bottom: 5px !important;
  }
}
@media screen and (min-width: 835px) {
  .mbpc-6 {
    margin-bottom: 6px !important;
  }
}
@media screen and (max-width: 834px) {
  .mbsp-6 {
    margin-bottom: 6px !important;
  }
}
@media screen and (min-width: 835px) {
  .mbpc-7 {
    margin-bottom: 7px !important;
  }
}
@media screen and (max-width: 834px) {
  .mbsp-7 {
    margin-bottom: 7px !important;
  }
}
@media screen and (min-width: 835px) {
  .mbpc-8 {
    margin-bottom: 8px !important;
  }
}
@media screen and (max-width: 834px) {
  .mbsp-8 {
    margin-bottom: 8px !important;
  }
}
@media screen and (min-width: 835px) {
  .mbpc-9 {
    margin-bottom: 9px !important;
  }
}
@media screen and (max-width: 834px) {
  .mbsp-9 {
    margin-bottom: 9px !important;
  }
}
@media screen and (min-width: 835px) {
  .mbpc-10 {
    margin-bottom: 10px !important;
  }
}
@media screen and (max-width: 834px) {
  .mbsp-10 {
    margin-bottom: 10px !important;
  }
}
@media screen and (min-width: 835px) {
  .mbpc-11 {
    margin-bottom: 11px !important;
  }
}
@media screen and (max-width: 834px) {
  .mbsp-11 {
    margin-bottom: 11px !important;
  }
}
@media screen and (min-width: 835px) {
  .mbpc-12 {
    margin-bottom: 12px !important;
  }
}
@media screen and (max-width: 834px) {
  .mbsp-12 {
    margin-bottom: 12px !important;
  }
}
@media screen and (min-width: 835px) {
  .mbpc-13 {
    margin-bottom: 13px !important;
  }
}
@media screen and (max-width: 834px) {
  .mbsp-13 {
    margin-bottom: 13px !important;
  }
}
@media screen and (min-width: 835px) {
  .mbpc-14 {
    margin-bottom: 14px !important;
  }
}
@media screen and (max-width: 834px) {
  .mbsp-14 {
    margin-bottom: 14px !important;
  }
}
@media screen and (min-width: 835px) {
  .mbpc-15 {
    margin-bottom: 15px !important;
  }
}
@media screen and (max-width: 834px) {
  .mbsp-15 {
    margin-bottom: 15px !important;
  }
}
@media screen and (min-width: 835px) {
  .mbpc-16 {
    margin-bottom: 16px !important;
  }
}
@media screen and (max-width: 834px) {
  .mbsp-16 {
    margin-bottom: 16px !important;
  }
}
@media screen and (min-width: 835px) {
  .mbpc-17 {
    margin-bottom: 17px !important;
  }
}
@media screen and (max-width: 834px) {
  .mbsp-17 {
    margin-bottom: 17px !important;
  }
}
@media screen and (min-width: 835px) {
  .mbpc-18 {
    margin-bottom: 18px !important;
  }
}
@media screen and (max-width: 834px) {
  .mbsp-18 {
    margin-bottom: 18px !important;
  }
}
@media screen and (min-width: 835px) {
  .mbpc-19 {
    margin-bottom: 19px !important;
  }
}
@media screen and (max-width: 834px) {
  .mbsp-19 {
    margin-bottom: 19px !important;
  }
}
@media screen and (min-width: 835px) {
  .mbpc-20 {
    margin-bottom: 20px !important;
  }
}
@media screen and (max-width: 834px) {
  .mbsp-20 {
    margin-bottom: 20px !important;
  }
}
@media screen and (min-width: 835px) {
  .mbpc-21 {
    margin-bottom: 21px !important;
  }
}
@media screen and (max-width: 834px) {
  .mbsp-21 {
    margin-bottom: 21px !important;
  }
}
@media screen and (min-width: 835px) {
  .mbpc-22 {
    margin-bottom: 22px !important;
  }
}
@media screen and (max-width: 834px) {
  .mbsp-22 {
    margin-bottom: 22px !important;
  }
}
@media screen and (min-width: 835px) {
  .mbpc-23 {
    margin-bottom: 23px !important;
  }
}
@media screen and (max-width: 834px) {
  .mbsp-23 {
    margin-bottom: 23px !important;
  }
}
@media screen and (min-width: 835px) {
  .mbpc-24 {
    margin-bottom: 24px !important;
  }
}
@media screen and (max-width: 834px) {
  .mbsp-24 {
    margin-bottom: 24px !important;
  }
}
@media screen and (min-width: 835px) {
  .mbpc-25 {
    margin-bottom: 25px !important;
  }
}
@media screen and (max-width: 834px) {
  .mbsp-25 {
    margin-bottom: 25px !important;
  }
}
@media screen and (min-width: 835px) {
  .mbpc-26 {
    margin-bottom: 26px !important;
  }
}
@media screen and (max-width: 834px) {
  .mbsp-26 {
    margin-bottom: 26px !important;
  }
}
@media screen and (min-width: 835px) {
  .mbpc-27 {
    margin-bottom: 27px !important;
  }
}
@media screen and (max-width: 834px) {
  .mbsp-27 {
    margin-bottom: 27px !important;
  }
}
@media screen and (min-width: 835px) {
  .mbpc-28 {
    margin-bottom: 28px !important;
  }
}
@media screen and (max-width: 834px) {
  .mbsp-28 {
    margin-bottom: 28px !important;
  }
}
@media screen and (min-width: 835px) {
  .mbpc-29 {
    margin-bottom: 29px !important;
  }
}
@media screen and (max-width: 834px) {
  .mbsp-29 {
    margin-bottom: 29px !important;
  }
}
@media screen and (min-width: 835px) {
  .mbpc-30 {
    margin-bottom: 30px !important;
  }
}
@media screen and (max-width: 834px) {
  .mbsp-30 {
    margin-bottom: 30px !important;
  }
}
@media screen and (min-width: 835px) {
  .mbpc-31 {
    margin-bottom: 31px !important;
  }
}
@media screen and (max-width: 834px) {
  .mbsp-31 {
    margin-bottom: 31px !important;
  }
}
@media screen and (min-width: 835px) {
  .mbpc-32 {
    margin-bottom: 32px !important;
  }
}
@media screen and (max-width: 834px) {
  .mbsp-32 {
    margin-bottom: 32px !important;
  }
}
@media screen and (min-width: 835px) {
  .mbpc-33 {
    margin-bottom: 33px !important;
  }
}
@media screen and (max-width: 834px) {
  .mbsp-33 {
    margin-bottom: 33px !important;
  }
}
@media screen and (min-width: 835px) {
  .mbpc-34 {
    margin-bottom: 34px !important;
  }
}
@media screen and (max-width: 834px) {
  .mbsp-34 {
    margin-bottom: 34px !important;
  }
}
@media screen and (min-width: 835px) {
  .mbpc-35 {
    margin-bottom: 35px !important;
  }
}
@media screen and (max-width: 834px) {
  .mbsp-35 {
    margin-bottom: 35px !important;
  }
}
@media screen and (min-width: 835px) {
  .mbpc-36 {
    margin-bottom: 36px !important;
  }
}
@media screen and (max-width: 834px) {
  .mbsp-36 {
    margin-bottom: 36px !important;
  }
}
@media screen and (min-width: 835px) {
  .mbpc-37 {
    margin-bottom: 37px !important;
  }
}
@media screen and (max-width: 834px) {
  .mbsp-37 {
    margin-bottom: 37px !important;
  }
}
@media screen and (min-width: 835px) {
  .mbpc-38 {
    margin-bottom: 38px !important;
  }
}
@media screen and (max-width: 834px) {
  .mbsp-38 {
    margin-bottom: 38px !important;
  }
}
@media screen and (min-width: 835px) {
  .mbpc-39 {
    margin-bottom: 39px !important;
  }
}
@media screen and (max-width: 834px) {
  .mbsp-39 {
    margin-bottom: 39px !important;
  }
}
@media screen and (min-width: 835px) {
  .mbpc-40 {
    margin-bottom: 40px !important;
  }
}
@media screen and (max-width: 834px) {
  .mbsp-40 {
    margin-bottom: 40px !important;
  }
}
@media screen and (min-width: 835px) {
  .mbpc-41 {
    margin-bottom: 41px !important;
  }
}
@media screen and (max-width: 834px) {
  .mbsp-41 {
    margin-bottom: 41px !important;
  }
}
@media screen and (min-width: 835px) {
  .mbpc-42 {
    margin-bottom: 42px !important;
  }
}
@media screen and (max-width: 834px) {
  .mbsp-42 {
    margin-bottom: 42px !important;
  }
}
@media screen and (min-width: 835px) {
  .mbpc-43 {
    margin-bottom: 43px !important;
  }
}
@media screen and (max-width: 834px) {
  .mbsp-43 {
    margin-bottom: 43px !important;
  }
}
@media screen and (min-width: 835px) {
  .mbpc-44 {
    margin-bottom: 44px !important;
  }
}
@media screen and (max-width: 834px) {
  .mbsp-44 {
    margin-bottom: 44px !important;
  }
}
@media screen and (min-width: 835px) {
  .mbpc-45 {
    margin-bottom: 45px !important;
  }
}
@media screen and (max-width: 834px) {
  .mbsp-45 {
    margin-bottom: 45px !important;
  }
}
@media screen and (min-width: 835px) {
  .mbpc-46 {
    margin-bottom: 46px !important;
  }
}
@media screen and (max-width: 834px) {
  .mbsp-46 {
    margin-bottom: 46px !important;
  }
}
@media screen and (min-width: 835px) {
  .mbpc-47 {
    margin-bottom: 47px !important;
  }
}
@media screen and (max-width: 834px) {
  .mbsp-47 {
    margin-bottom: 47px !important;
  }
}
@media screen and (min-width: 835px) {
  .mbpc-48 {
    margin-bottom: 48px !important;
  }
}
@media screen and (max-width: 834px) {
  .mbsp-48 {
    margin-bottom: 48px !important;
  }
}
@media screen and (min-width: 835px) {
  .mbpc-49 {
    margin-bottom: 49px !important;
  }
}
@media screen and (max-width: 834px) {
  .mbsp-49 {
    margin-bottom: 49px !important;
  }
}
@media screen and (min-width: 835px) {
  .mbpc-50 {
    margin-bottom: 50px !important;
  }
}
@media screen and (max-width: 834px) {
  .mbsp-50 {
    margin-bottom: 50px !important;
  }
}
@media screen and (min-width: 835px) {
  .mbpc-51 {
    margin-bottom: 51px !important;
  }
}
@media screen and (max-width: 834px) {
  .mbsp-51 {
    margin-bottom: 51px !important;
  }
}
@media screen and (min-width: 835px) {
  .mbpc-52 {
    margin-bottom: 52px !important;
  }
}
@media screen and (max-width: 834px) {
  .mbsp-52 {
    margin-bottom: 52px !important;
  }
}
@media screen and (min-width: 835px) {
  .mbpc-53 {
    margin-bottom: 53px !important;
  }
}
@media screen and (max-width: 834px) {
  .mbsp-53 {
    margin-bottom: 53px !important;
  }
}
@media screen and (min-width: 835px) {
  .mbpc-54 {
    margin-bottom: 54px !important;
  }
}
@media screen and (max-width: 834px) {
  .mbsp-54 {
    margin-bottom: 54px !important;
  }
}
@media screen and (min-width: 835px) {
  .mbpc-55 {
    margin-bottom: 55px !important;
  }
}
@media screen and (max-width: 834px) {
  .mbsp-55 {
    margin-bottom: 55px !important;
  }
}
@media screen and (min-width: 835px) {
  .mbpc-56 {
    margin-bottom: 56px !important;
  }
}
@media screen and (max-width: 834px) {
  .mbsp-56 {
    margin-bottom: 56px !important;
  }
}
@media screen and (min-width: 835px) {
  .mbpc-57 {
    margin-bottom: 57px !important;
  }
}
@media screen and (max-width: 834px) {
  .mbsp-57 {
    margin-bottom: 57px !important;
  }
}
@media screen and (min-width: 835px) {
  .mbpc-58 {
    margin-bottom: 58px !important;
  }
}
@media screen and (max-width: 834px) {
  .mbsp-58 {
    margin-bottom: 58px !important;
  }
}
@media screen and (min-width: 835px) {
  .mbpc-59 {
    margin-bottom: 59px !important;
  }
}
@media screen and (max-width: 834px) {
  .mbsp-59 {
    margin-bottom: 59px !important;
  }
}
@media screen and (min-width: 835px) {
  .mbpc-60 {
    margin-bottom: 60px !important;
  }
}
@media screen and (max-width: 834px) {
  .mbsp-60 {
    margin-bottom: 60px !important;
  }
}
@media screen and (min-width: 835px) {
  .mbpc-61 {
    margin-bottom: 61px !important;
  }
}
@media screen and (max-width: 834px) {
  .mbsp-61 {
    margin-bottom: 61px !important;
  }
}
@media screen and (min-width: 835px) {
  .mbpc-62 {
    margin-bottom: 62px !important;
  }
}
@media screen and (max-width: 834px) {
  .mbsp-62 {
    margin-bottom: 62px !important;
  }
}
@media screen and (min-width: 835px) {
  .mbpc-63 {
    margin-bottom: 63px !important;
  }
}
@media screen and (max-width: 834px) {
  .mbsp-63 {
    margin-bottom: 63px !important;
  }
}
@media screen and (min-width: 835px) {
  .mbpc-64 {
    margin-bottom: 64px !important;
  }
}
@media screen and (max-width: 834px) {
  .mbsp-64 {
    margin-bottom: 64px !important;
  }
}
@media screen and (min-width: 835px) {
  .mbpc-65 {
    margin-bottom: 65px !important;
  }
}
@media screen and (max-width: 834px) {
  .mbsp-65 {
    margin-bottom: 65px !important;
  }
}
@media screen and (min-width: 835px) {
  .mbpc-66 {
    margin-bottom: 66px !important;
  }
}
@media screen and (max-width: 834px) {
  .mbsp-66 {
    margin-bottom: 66px !important;
  }
}
@media screen and (min-width: 835px) {
  .mbpc-67 {
    margin-bottom: 67px !important;
  }
}
@media screen and (max-width: 834px) {
  .mbsp-67 {
    margin-bottom: 67px !important;
  }
}
@media screen and (min-width: 835px) {
  .mbpc-68 {
    margin-bottom: 68px !important;
  }
}
@media screen and (max-width: 834px) {
  .mbsp-68 {
    margin-bottom: 68px !important;
  }
}
@media screen and (min-width: 835px) {
  .mbpc-69 {
    margin-bottom: 69px !important;
  }
}
@media screen and (max-width: 834px) {
  .mbsp-69 {
    margin-bottom: 69px !important;
  }
}
@media screen and (min-width: 835px) {
  .mbpc-70 {
    margin-bottom: 70px !important;
  }
}
@media screen and (max-width: 834px) {
  .mbsp-70 {
    margin-bottom: 70px !important;
  }
}
@media screen and (min-width: 835px) {
  .mbpc-71 {
    margin-bottom: 71px !important;
  }
}
@media screen and (max-width: 834px) {
  .mbsp-71 {
    margin-bottom: 71px !important;
  }
}
@media screen and (min-width: 835px) {
  .mbpc-72 {
    margin-bottom: 72px !important;
  }
}
@media screen and (max-width: 834px) {
  .mbsp-72 {
    margin-bottom: 72px !important;
  }
}
@media screen and (min-width: 835px) {
  .mbpc-73 {
    margin-bottom: 73px !important;
  }
}
@media screen and (max-width: 834px) {
  .mbsp-73 {
    margin-bottom: 73px !important;
  }
}
@media screen and (min-width: 835px) {
  .mbpc-74 {
    margin-bottom: 74px !important;
  }
}
@media screen and (max-width: 834px) {
  .mbsp-74 {
    margin-bottom: 74px !important;
  }
}
@media screen and (min-width: 835px) {
  .mbpc-75 {
    margin-bottom: 75px !important;
  }
}
@media screen and (max-width: 834px) {
  .mbsp-75 {
    margin-bottom: 75px !important;
  }
}
@media screen and (min-width: 835px) {
  .mbpc-76 {
    margin-bottom: 76px !important;
  }
}
@media screen and (max-width: 834px) {
  .mbsp-76 {
    margin-bottom: 76px !important;
  }
}
@media screen and (min-width: 835px) {
  .mbpc-77 {
    margin-bottom: 77px !important;
  }
}
@media screen and (max-width: 834px) {
  .mbsp-77 {
    margin-bottom: 77px !important;
  }
}
@media screen and (min-width: 835px) {
  .mbpc-78 {
    margin-bottom: 78px !important;
  }
}
@media screen and (max-width: 834px) {
  .mbsp-78 {
    margin-bottom: 78px !important;
  }
}
@media screen and (min-width: 835px) {
  .mbpc-79 {
    margin-bottom: 79px !important;
  }
}
@media screen and (max-width: 834px) {
  .mbsp-79 {
    margin-bottom: 79px !important;
  }
}
@media screen and (min-width: 835px) {
  .mbpc-80 {
    margin-bottom: 80px !important;
  }
}
@media screen and (max-width: 834px) {
  .mbsp-80 {
    margin-bottom: 80px !important;
  }
}
@media screen and (min-width: 835px) {
  .mbpc-81 {
    margin-bottom: 81px !important;
  }
}
@media screen and (max-width: 834px) {
  .mbsp-81 {
    margin-bottom: 81px !important;
  }
}
@media screen and (min-width: 835px) {
  .mbpc-82 {
    margin-bottom: 82px !important;
  }
}
@media screen and (max-width: 834px) {
  .mbsp-82 {
    margin-bottom: 82px !important;
  }
}
@media screen and (min-width: 835px) {
  .mbpc-83 {
    margin-bottom: 83px !important;
  }
}
@media screen and (max-width: 834px) {
  .mbsp-83 {
    margin-bottom: 83px !important;
  }
}
@media screen and (min-width: 835px) {
  .mbpc-84 {
    margin-bottom: 84px !important;
  }
}
@media screen and (max-width: 834px) {
  .mbsp-84 {
    margin-bottom: 84px !important;
  }
}
@media screen and (min-width: 835px) {
  .mbpc-85 {
    margin-bottom: 85px !important;
  }
}
@media screen and (max-width: 834px) {
  .mbsp-85 {
    margin-bottom: 85px !important;
  }
}
@media screen and (min-width: 835px) {
  .mbpc-86 {
    margin-bottom: 86px !important;
  }
}
@media screen and (max-width: 834px) {
  .mbsp-86 {
    margin-bottom: 86px !important;
  }
}
@media screen and (min-width: 835px) {
  .mbpc-87 {
    margin-bottom: 87px !important;
  }
}
@media screen and (max-width: 834px) {
  .mbsp-87 {
    margin-bottom: 87px !important;
  }
}
@media screen and (min-width: 835px) {
  .mbpc-88 {
    margin-bottom: 88px !important;
  }
}
@media screen and (max-width: 834px) {
  .mbsp-88 {
    margin-bottom: 88px !important;
  }
}
@media screen and (min-width: 835px) {
  .mbpc-89 {
    margin-bottom: 89px !important;
  }
}
@media screen and (max-width: 834px) {
  .mbsp-89 {
    margin-bottom: 89px !important;
  }
}
@media screen and (min-width: 835px) {
  .mbpc-90 {
    margin-bottom: 90px !important;
  }
}
@media screen and (max-width: 834px) {
  .mbsp-90 {
    margin-bottom: 90px !important;
  }
}
@media screen and (min-width: 835px) {
  .mbpc-91 {
    margin-bottom: 91px !important;
  }
}
@media screen and (max-width: 834px) {
  .mbsp-91 {
    margin-bottom: 91px !important;
  }
}
@media screen and (min-width: 835px) {
  .mbpc-92 {
    margin-bottom: 92px !important;
  }
}
@media screen and (max-width: 834px) {
  .mbsp-92 {
    margin-bottom: 92px !important;
  }
}
@media screen and (min-width: 835px) {
  .mbpc-93 {
    margin-bottom: 93px !important;
  }
}
@media screen and (max-width: 834px) {
  .mbsp-93 {
    margin-bottom: 93px !important;
  }
}
@media screen and (min-width: 835px) {
  .mbpc-94 {
    margin-bottom: 94px !important;
  }
}
@media screen and (max-width: 834px) {
  .mbsp-94 {
    margin-bottom: 94px !important;
  }
}
@media screen and (min-width: 835px) {
  .mbpc-95 {
    margin-bottom: 95px !important;
  }
}
@media screen and (max-width: 834px) {
  .mbsp-95 {
    margin-bottom: 95px !important;
  }
}
@media screen and (min-width: 835px) {
  .mbpc-96 {
    margin-bottom: 96px !important;
  }
}
@media screen and (max-width: 834px) {
  .mbsp-96 {
    margin-bottom: 96px !important;
  }
}
@media screen and (min-width: 835px) {
  .mbpc-97 {
    margin-bottom: 97px !important;
  }
}
@media screen and (max-width: 834px) {
  .mbsp-97 {
    margin-bottom: 97px !important;
  }
}
@media screen and (min-width: 835px) {
  .mbpc-98 {
    margin-bottom: 98px !important;
  }
}
@media screen and (max-width: 834px) {
  .mbsp-98 {
    margin-bottom: 98px !important;
  }
}
@media screen and (min-width: 835px) {
  .mbpc-99 {
    margin-bottom: 99px !important;
  }
}
@media screen and (max-width: 834px) {
  .mbsp-99 {
    margin-bottom: 99px !important;
  }
}
@media screen and (min-width: 835px) {
  .mbpc-100 {
    margin-bottom: 100px !important;
  }
}
@media screen and (max-width: 834px) {
  .mbsp-100 {
    margin-bottom: 100px !important;
  }
}
.mb0 {
  margin-bottom: 0 !important;
}

body {
  color: #000;
  font-family: "Noto Sans JP", sans-serif;
  font-size: 100%;
  -webkit-font-smoothing: antialiased;
  line-height: 1.4;
  overflow-x: hidden;
}

a {
  text-decoration: none;
  -webkit-backface-visibility: hidden;
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
a:hover {
  opacity: 0.7;
}
@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
  a {
    display: inline-block;
  }
}
@media screen and (min-width: 835px) {
  a[href^=tel] {
    pointer-events: none;
  }
}
@media screen and (max-width: 834px) {
  a {
    -webkit-tap-highlight-color: transparent;
  }
}

.clearfix {
  *zoom: 1;
}
.clearfix:before {
  content: "";
  display: table;
}
.clearfix:after {
  clear: both;
  content: "";
  display: table;
}

@media screen and (max-width: 834px) {
  .pc {
    display: none !important;
  }
}
@media screen and (max-width: 1024px) {
  .pc-tb {
    display: none !important;
  }
}
@media screen and (max-width: 990px) {
  .pc-lg {
    display: none !important;
  }
}
@media screen and (max-width: 640px) {
  .pc-sm {
    display: none !important;
  }
}
@media screen and (max-width: 374px) {
  .pc-xs {
    display: none !important;
  }
}

@media screen and (min-width: 835px) {
  .sp {
    display: none !important;
  }
}
@media screen and (min-width: 1025px) {
  .sp-tb {
    display: none !important;
  }
}
@media screen and (min-width: 991px) {
  .sp-lg {
    display: none !important;
  }
}
@media screen and (min-width: 641px) {
  .sp-sm {
    display: none !important;
  }
}

.u-fn-hover {
  display: inline-block;
}
@media screen and (min-width: 835px) {
  .u-fn-hover {
    -webkit-transition: all 0.2s;
    -o-transition: all 0.2s;
    transition: all 0.2s;
  }
  .u-fn-hover:hover {
    opacity: 0.7;
  }
}

.u-pull--left {
  margin-left: calc((100vw - 100%) / 2 * -1);
}
.u-pull--right {
  margin-right: calc((100vw - 100%) / 2 * -1);
}

.c-fc--white {
  color: white !important;
}
.c-fc--black {
  color: black !important;
}
.c-fc--orange {
  color: #E76700 !important;
}
.c-fc--blue {
  color: #0D5582 !important;
}
.c-fc--blue02 {
  color: #2072A5 !important;
}
.c-fc--yellow {
  color: #FFE200 !important;
}

.c-ft--en {
  font-family: "Noto Serif JP", serif;
}
.c-ft--jp {
  font-family: "Noto Sans JP", sans-serif;
}

.c-tx--v {
  -ms-writing-mode: tb-rl;
  -webkit-writing-mode: vertical-rl;
          writing-mode: vertical-rl;
}
@media screen and (min-width: 835px) {
  .c-tx--v-pc {
    -ms-writing-mode: tb-rl;
    -webkit-writing-mode: vertical-rl;
            writing-mode: vertical-rl;
  }
}

.c-al--c {
  text-align: center !important;
}
.c-al--r {
  text-align: right !important;
}
.c-al--l {
  text-align: left !important;
}

.c-pull--left {
  margin-left: calc((100vw - 100%) / 2 * -1);
}
.c-pull--right {
  margin-right: calc((100vw - 100%) / 2 * -1);
}

/* ====================================================
Component
==================================================== */
.c-txt__basic {
  font-size: 1.6rem;
  line-height: 1.5;
  font-weight: 500;
}
.c-txt__basic small {
  font-size: 13px;
}
.c-txt__note {
  font-size: 1.8rem;
  line-height: 1.6;
  font-weight: 500;
}

.c-ttl__01 {
  display: block;
  text-align: center;
  font-weight: bold;
  font-size: 32px;
  line-height: 1.4;
  margin-bottom: 50px;
}
@media screen and (max-width: 834px) {
  .c-ttl__01 {
    line-height: 1.6;
    font-size: 22px;
    margin-bottom: 20px;
  }
}
.c-ttl__02 {
  display: block;
  line-height: 1.4;
  font-size: 32px;
  font-weight: bold;
  text-align: center;
  margin-bottom: 30px;
}
@media screen and (max-width: 834px) {
  .c-ttl__02 {
    font-size: 24px;
  }
}
.c-ttl__02 span {
  display: inline-block;
  position: relative;
  padding: 0 0 20px;
}
.c-ttl__02 span:after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 3px;
  background: #0D5582;
}
.c-ttl__03 {
  display: block;
  font-size: 32px;
  font-weight: bold;
  line-height: 1.4;
  color: #2072A5;
  border-top: 5px solid #2072A5;
  border-bottom: 5px solid #2072A5;
  padding: 11px 15px;
  margin-bottom: 30px;
}
@media screen and (max-width: 834px) {
  .c-ttl__03 {
    font-size: 24px;
    border-top: 2px solid #2072A5;
    border-bottom: 2px solid #2072A5;
  }
}
.c-ttl__03 small {
  font-size: 21px;
}
@media screen and (max-width: 834px) {
  .c-ttl__03 small {
    font-size: 18px;
  }
}
.c-ttl__03--other {
  border-top: 1px solid #2072A5;
  border-bottom: 1px solid #2072A5;
  color: black;
}
@media screen and (min-width: 835px) {
  .c-ttl__03--other {
    font-size: 28px;
  }
}
.c-ttl__03--other small {
  display: inline-block;
  font-size: 20px;
  color: #2072A5;
}
@media screen and (max-width: 834px) {
  .c-ttl__03--other small {
    font-size: 16px;
  }
}
.c-ttl__04 {
  display: block;
  background: #2072A5;
  color: white;
  font-weight: bold;
  font-size: 23px;
  line-height: 1.4;
  border-radius: 8px;
  padding: 15px;
  margin-bottom: 30px;
}
@media screen and (max-width: 834px) {
  .c-ttl__04 {
    font-size: 20px;
  }
}

.c-btn__01 {
  display: -ms-flexbox;
  display: -webkit-box;
  display: flex;
  -ms-flex-pack: center;
  -webkit-box-pack: center;
          justify-content: center;
  -ms-flex-align: center;
  -webkit-box-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  width: 100%;
  max-width: 300px;
  height: 54px;
  border-radius: 70px;
  background: #E76700;
  color: white;
  font-size: 16px;
  line-height: 1;
  font-weight: bold;
  -webkit-box-shadow: 3px 3px 6px #00000060;
          box-shadow: 3px 3px 6px #00000060;
  margin: 0 auto;
}
@media screen and (max-width: 834px) {
  .c-btn__01 {
    max-width: 340px;
  }
}
.c-btn__01--grey {
  background: #89B4CE;
}
.c-btn__01--blue {
  background: #0D5582;
}
.c-btn__01--mail span {
  display: block;
  position: relative;
  padding: 0 30px 0 0;
}
.c-btn__01--mail span:after {
  content: "";
  width: 20px;
  height: 16px;
  background: url("../img/icon-email.png") no-repeat;
  background-size: 100%;
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  right: 0;
}

.inner {
  display: block;
  max-width: 1030px;
  padding: 0 15px;
  margin: 0 auto;
}

.form-control {
  display: block;
  width: 100%;
  height: 45px;
  background: white;
  border: 1px solid #ccc;
  font-weight: 500;
  padding: 5px 10px;
  font-size: 15px;
}
.form-control:focus {
  border-color: #66afe9;
  outline: 0;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(102, 175, 233, 0.6);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(102, 175, 233, 0.6);
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] {
  -moz-appearance: textfield;
}

textarea.form-control {
  height: 250px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  resize: none;
}
@media screen and (max-width: 834px) {
  textarea.form-control {
    height: 222px;
  }
}

.pure-list {
  display: -ms-flexbox;
  display: -webkit-box;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-bottom: 35px;
}
@media screen and (max-width: 834px) {
  .pure-list {
    margin-bottom: 28px;
  }
}
.pure-list li {
  margin-right: 39px;
}
@media screen and (max-width: 834px) {
  .pure-list li {
    width: 100%;
    margin: 0 0 2px;
  }
}
.pure-list li:last-child {
  margin-right: 0;
}
.pure-list__input {
  position: relative;
}
.pure-list__input input {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1;
  opacity: 0;
  cursor: pointer;
}
.pure-list__input input[type=checkbox] + span:after {
  background-color: transparent;
  top: 50%;
  left: 4px;
  width: 8px;
  height: 3px;
  margin-top: -4px;
  border-style: solid;
  border-color: #ffffff;
  border-width: 0 0 3px 3px;
  -o-border-image: none;
     border-image: none;
  -webkit-transform: rotate(-45deg) scale(0);
      -ms-transform: rotate(-45deg) scale(0);
          transform: rotate(-45deg) scale(0);
}
.pure-list__input input[type=checkbox]:checked + span:after {
  content: "";
  -webkit-transform: rotate(-45deg) scale(1);
      -ms-transform: rotate(-45deg) scale(1);
          transform: rotate(-45deg) scale(1);
  -webkit-transition: -webkit-transform 200ms ease-out;
  transition: -webkit-transform 200ms ease-out;
  -o-transition: transform 200ms ease-out;
  transition: transform 200ms ease-out;
  transition: transform 200ms ease-out, -webkit-transform 200ms ease-out;
}
.pure-list__input input[type=checkbox]:checked + span:before {
  -webkit-animation: borderscale 200ms ease-in;
          animation: borderscale 200ms ease-in;
  background: #4F8196;
}
.pure-list__input input[type=radio] + span:after, .pure-list__input input[type=radio] + span:before {
  border-radius: 50%;
}
.pure-list__input input[type=radio]:checked + span:before {
  -webkit-animation: borderscale 300ms ease-in;
          animation: borderscale 300ms ease-in;
}
.pure-list__input input[type=radio]:checked + span:after {
  -webkit-transform: scale(1);
      -ms-transform: scale(1);
          transform: scale(1);
}
.pure-list__input span {
  display: block;
  position: relative;
  padding: 10px 0 10px 40px;
  vertical-align: middle;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  cursor: pointer;
}
.pure-list__input span:before {
  content: "";
  position: absolute;
  top: 12px;
  left: 0;
  width: 24px;
  height: 24px;
  background: #EDEDED;
  border: 1px solid #718CC7;
  text-align: center;
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
  border-radius: 3px;
}
.pure-list__input span:after {
  content: "";
  background-color: #718CC7;
  position: absolute;
  top: 18px;
  left: 6px;
  width: 14px;
  height: 14px;
  -webkit-transform: scale(0);
      -ms-transform: scale(0);
          transform: scale(0);
  -webkit-transform-origin: 50%;
      -ms-transform-origin: 50%;
          transform-origin: 50%;
  transition: transform 200ms ease-out, -webkit-transform 200ms ease-out;
}

@media screen and (max-width: 1024px) {
  #header .header-nav {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 100vh;
    padding: 60px 20px 0;
    overflow-y: scroll;
  }
  #header .header-nav.active {
    display: block;
  }
}
#header .header-nav__menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}
@media screen and (max-width: 1024px) {
  #header .header-nav__menu {
    display: block;
  }
}
#header .header-nav__menu-item {
  padding: 11px 17px;
  position: relative;
}
@media screen and (max-width: 1024px) {
  #header .header-nav__menu-item {
    border-bottom: 1px solid #ccc;
  }
}
#header .header-nav__menu-item > a {
  display: block;
  font-size: 14px;
  font-weight: bold;
  color: black;
  padding: 0 0;
}
@media screen and (max-width: 1024px) {
  #header .header-nav__menu-item > a {
    text-align: center;
    position: relative;
  }
}
#header .js-mobile {
  width: 26px;
  height: 30px;
  position: absolute;
  right: 20px;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  cursor: pointer;
  z-index: 12;
  display: none;
}
@media screen and (max-width: 1024px) {
  #header .js-mobile {
    display: block;
  }
}
#header .js-mobile span {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  display: block;
  width: 100%;
  height: 2px;
  background: #333;
  border-radius: 3px;
}
#header .js-mobile span:before, #header .js-mobile span:after {
  position: absolute;
  left: 0;
  width: 100%;
  height: 100%;
  background: #333;
  content: "";
  -webkit-transition: -webkit-transform 0.3s;
  transition: -webkit-transform 0.3s;
  -o-transition: transform 0.3s;
  transition: transform 0.3s;
  transition: transform 0.3s, -webkit-transform 0.3s;
  border-radius: 3px;
}
#header .js-mobile span:before {
  -webkit-transform: translateY(-250%);
  -ms-transform: translateY(-250%);
      transform: translateY(-250%);
  top: -6px;
}
#header .js-mobile span:after {
  -webkit-transform: translateY(250%);
  -ms-transform: translateY(250%);
      transform: translateY(250%);
  bottom: -6px;
}
#header .js-mobile--close span {
  background-color: transparent;
}
#header .js-mobile--close span:before, #header .js-mobile--close span:after {
  width: 100%;
  background: #333;
}
#header .js-mobile--close span:before {
  -webkit-transform: translateY(0) rotate(45deg);
  -ms-transform: translateY(0) rotate(45deg);
      transform: translateY(0) rotate(45deg);
  top: 2px;
}
#header .js-mobile--close span:after {
  -webkit-transform: translateY(0) rotate(-45deg);
  -ms-transform: translateY(0) rotate(-45deg);
      transform: translateY(0) rotate(-45deg);
  bottom: -2px;
}

.js-locked {
  overflow: hidden;
  -ms-touch-action: none;
  touch-action: none;
}
.js-locked body {
  -webkit-overflow-scrolling: auto;
}

#footer {
  padding: 100px 0;
  background: url("../img/footer-bg.png") no-repeat;
  background-size: cover;
}
@media screen and (max-width: 834px) {
  #footer {
    padding: 50px 0;
  }
}

.footer-note {
  font-size: 28px;
  font-weight: bold;
  text-align: center;
  color: white;
}
@media screen and (max-width: 834px) {
  .footer-note {
    font-size: 18px;
  }
}
.footer-note p {
  margin-bottom: 40px;
}
.footer-note p:last-child {
  margin-bottom: 0;
}
.footer-note .c-btn__01 {
  max-width: 400px;
}
@media screen and (min-width: 835px) {
  .footer-note .c-btn__01 {
    height: 72px;
    font-size: 20px;
  }
  .footer-note .c-btn__01 span:after {
    width: 27px;
    height: 21px;
  }
}

.sec-mv {
  background: url("../img/mv-bg.png") no-repeat;
  background-size: cover;
  background-position: center;
  padding: 50px 0 100px;
}
@media screen and (max-width: 834px) {
  .sec-mv {
    padding: 40px 0 20px;
  }
}

.mv-block {
  display: -ms-flexbox;
  display: -webkit-box;
  display: flex;
  -ms-flex-align: end;
  -webkit-box-align: end;
          align-items: flex-end;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  padding: 0 0 30px;
}
.mv-block__ttl {
  width: 100%;
  display: block;
  text-align: center;
  font-weight: bold;
  font-size: 26px;
  margin-bottom: 50px;
}
@media screen and (max-width: 834px) {
  .mv-block__ttl {
    font-size: 1.8rem;
    line-height: 1.6111111111;
  }
}
.mv-block__ct {
  width: 42%;
  padding: 0 0 30px;
}
@media screen and (max-width: 834px) {
  .mv-block__ct {
    width: 100%;
    padding: 0;
  }
}
.mv-block__ct-ttl {
  display: block;
  font-weight: 900;
  font-size: 36px;
  color: black;
  margin-bottom: 25px;
}
@media screen and (max-width: 834px) {
  .mv-block__ct-ttl {
    font-size: 30px;
  }
}
.mv-block__ct p {
  margin-bottom: 84px;
}
@media screen and (max-width: 834px) {
  .mv-block__ct p {
    margin-bottom: 38px;
  }
}
@media screen and (min-width: 835px) {
  .mv-block__ct .c-btn__01 {
    max-width: 400px;
    height: 72px;
    margin-left: 0;
    font-size: 20px;
  }
  .mv-block__ct .c-btn__01 span {
    padding: 0 60px 0 0;
  }
  .mv-block__ct .c-btn__01 span:after {
    width: 40px;
    height: 32px;
  }
}
.mv-block__img {
  width: 58%;
}
@media screen and (max-width: 834px) {
  .mv-block__img {
    width: 100%;
    margin-bottom: 40px;
  }
}

.sec-customers {
  background: url(../img/customers-bg.png) no-repeat;
  background-size: cover;
  background-position: center;
  padding: 50px 0;
}
.sec-customers .customers-item {
  width: 100%;
  max-width: 390px;
  position: absolute;
  top: 100px;
  left: 0;
  right: 0;
  margin: 0 auto;
}
@media screen and (max-width: 834px) {
  .sec-customers .customers-item {
    position: static;
  }
}

.customers-list {
  display: -ms-flexbox;
  display: -webkit-box;
  display: flex;
  -ms-flex-pack: justify;
  -webkit-box-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-bottom: 120px;
}
@media screen and (max-width: 834px) {
  .customers-list {
    margin-bottom: 40px;
  }
}
.customers-list li {
  width: 50%;
  max-width: 357px;
  background: white;
  position: relative;
  font-weight: bold;
  font-size: 20px;
  border-radius: 10px;
  padding: 10px 10px 10px 35px;
  margin-bottom: 15px;
}
@media screen and (max-width: 834px) {
  .customers-list li {
    width: 100%;
    font-size: 18px;
    padding: 13px 10px 13px 35px;
    margin-bottom: 20px;
  }
}
.customers-list li:before {
  content: "";
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background: #0D5582;
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  left: 15px;
}
@media screen and (max-width: 834px) {
  .customers-list li:before {
    width: 15px;
    height: 15px;
  }
}

.customers-block {
  display: -ms-flexbox;
  display: -webkit-box;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin: 0 -10px;
}
.customers-block__item {
  width: 50%;
  padding: 0 10px;
  margin-bottom: 20px;
}
@media screen and (max-width: 834px) {
  .customers-block__item {
    width: 100%;
    margin-bottom: 15px;
  }
}
.customers-block__box {
  border-radius: 10px;
  overflow: hidden;
}
.customers-block__box-ttl {
  display: block;
  position: relative;
  background: #0D5582;
  color: white;
  font-size: 2.2rem;
  line-height: 1.3636363636;
  font-weight: bold;
  padding: 25px 15px 25px 85px;
}
@media screen and (max-width: 834px) {
  .customers-block__box-ttl {
    font-size: 20px;
  }
}
.customers-block__box-ttl img {
  width: 55px;
  position: absolute;
  left: 20px;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}
.customers-block__box-ct {
  background: white;
  padding: 20px;
}

.sec-point {
  background: url("../img/point-bg.png") no-repeat;
  background-size: cover;
  padding: 100px 0;
}
@media screen and (max-width: 834px) {
  .sec-point {
    padding: 50px 0;
  }
}

.point-list {
  display: -ms-flexbox;
  display: -webkit-box;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin: 0 -10px 30px;
}
.point-list__item {
  width: 33.333%;
  padding: 0 10px;
}
@media screen and (max-width: 834px) {
  .point-list__item {
    width: 100%;
    margin-bottom: 30px;
  }
  .point-list__item:last-child {
    margin-bottom: 0;
  }
}
.point-list__box {
  background: white;
  border-radius: 10px;
  padding: 20px;
  height: 100%;
}
.point-list__box-number {
  display: block;
  font-weight: bold;
  font-size: 23px;
}
.point-list__box-ttl {
  display: block;
  font-size: 20px;
  font-weight: bold;
}
.point-list__box-img {
  margin-bottom: 20px;
}
.sec-offers {
  padding: 100px 0;
}

.anchor-link {
  display: -ms-flexbox;
  display: -webkit-box;
  display: flex;
  -ms-flex-pack: center;
  -webkit-box-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-bottom: 40px;
}
.anchor-link li {
  width: 25%;
  border-right: 1px solid #0D5582;
}
.anchor-link li:last-child {
  border-right: none;
}
.anchor-link li a {
  display: -ms-flexbox;
  display: -webkit-box;
  display: flex;
  -ms-flex-pack: center;
  -webkit-box-pack: center;
          justify-content: center;
  -ms-flex-align: center;
  -webkit-box-align: center;
          align-items: center;
  height: 80px;
  text-align: center;
  font-size: 18px;
  font-weight: bold;
  color: #0D5582;
  position: relative;
  padding: 0 10px;
}
@media screen and (max-width: 834px) {
  .anchor-link li a {
    font-size: 14px;
    height: 86px;
    padding: 0 8px 15px;
  }
}
.anchor-link li a:after {
  content: "";
  border: solid #0D5582;
  border-width: 0 2px 2px 0;
  display: inline-block;
  padding: 5px;
  -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
          transform: rotate(45deg);
  position: absolute;
  margin: 0 auto;
  bottom: 8px;
}

.js-table table {
  width: 100%;
}
@media screen and (max-width: 990px) {
  .js-table table {
    width: 1000px;
  }
}

.offers-table {
  font-weight: 500;
  margin-bottom: 50px;
}
.offers-table .start {
  font-size: 20px;
}
.offers-table .table-01 tr th, .offers-table .table-01 tr td {
  width: 20%;
  text-align: center;
  border: 1px solid #89B4CE;
  padding: 15px 10px;
}
.offers-table .table-01 tr th {
  font-weight: bold;
  color: white;
  padding: 10px;
}
.offers-table .table-01 tr th:nth-child(even) {
  background: #0D5582;
}
.offers-table .table-01 tr th:nth-child(odd) {
  background: #2072A5;
}
.offers-table .table-01 tr th:nth-child(1) {
  background: none;
}
.offers-table .table-01 tr th small {
  font-size: 15px;
}
.offers-table .table-01 tr td:nth-child(1) {
  font-weight: bold;
  background: #DFEEF7;
}
.offers-table .table-01 tr td small {
  font-size: 13px;
}
.offers-table .table-01 tr td ul li {
  text-align: left;
  position: relative;
  padding: 0 0 0 15px;
  margin-bottom: 5px;
}
.offers-table .table-01 tr td ul li:last-child {
  margin-bottom: 0;
}
.offers-table .table-01 tr td ul li:before {
  content: "";
  width: 8px;
  height: 8px;
  border-radius: 8px;
  background: #2072A5;
  position: absolute;
  top: 10px;
  left: 0;
}
.offers-table .table-01 tr td ul li a {
  color: black;
  text-decoration: underline;
}

.offers-block {
  display: -ms-flexbox;
  display: -webkit-box;
  display: flex;
  -ms-flex-pack: justify;
  -webkit-box-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-bottom: 50px;
}
@media screen and (max-width: 834px) {
  .offers-block {
    margin-bottom: 30px;
  }
}
.offers-block--img {
  display: block;
  margin: 0 auto 50px;
  max-width: 528px;
}
.offers-block__ct {
  width: 50%;
}
@media screen and (max-width: 834px) {
  .offers-block__ct {
    width: 100%;
  }
}
.offers-block__ct-ttl {
  display: block;
  color: white;
  background: #0D5582;
  font-size: 20px;
  font-weight: bold;
  border-radius: 10px 10px 0 0;
  padding: 15px;
}
.offers-block__ct-ttl + .offers-block__ct-box {
  border-radius: 0 0 10px 10px;
  overflow: hidden;
  border: none;
}
.offers-block__ct-box {
  padding: 20px 15px;
  margin-bottom: 30px;
  border: 4px solid #DFEEF7;
  -webkit-box-shadow: 0 0 10px #00000029;
          box-shadow: 0 0 10px #00000029;
}
.offers-block__ct-box-ttl {
  display: block;
  color: #2072A5;
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 10px;
}
.offers-block__ct-box p {
  margin-bottom: 35px;
}
.offers-block__ct-box p:last-child {
  margin-bottom: 0;
}
.offers-block__img {
  width: calc(50% - 30px);
}
@media screen and (max-width: 834px) {
  .offers-block__img {
    width: 100%;
  }
}
.offers-block__img img {
  width: 100%;
  margin-bottom: 30px;
}
.offers-block__img img:last-child {
  margin-bottom: 0;
}
.offers-block__img-note {
  background: #DFEEF7;
  border-radius: 20px;
  padding: 15px;
}

.offers-price {
  margin-bottom: 30px;
}
.offers-price table tr th, .offers-price table tr td {
  border: 1px solid #89B4CE;
  padding: 10px 15px;
  width: 25%;
}
.offers-price table tr th {
  background: #DFEEF7;
  font-weight: bold;
}
.offers-btn {
  display: -ms-flexbox;
  display: -webkit-box;
  display: flex;
  -ms-flex-pack: center;
  -webkit-box-pack: center;
          justify-content: center;
  -ms-flex-align: center;
  -webkit-box-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin: 0 -15px 80px;
}
.offers-btn li {
  width: 33.333%;
  padding: 0 15px;
}
@media screen and (max-width: 834px) {
  .offers-btn li {
    width: 100%;
    margin-bottom: 30px;
  }
  .offers-btn li:last-child {
    margin-bottom: 0;
  }
}

.offers-files {
  display: -ms-flexbox;
  display: -webkit-box;
  display: flex;
  -ms-flex-pack: justify;
  -webkit-box-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-bottom: 50px;
}
.offers-files__ttl {
  display: block;
  width: 100%;
  font-size: 18px;
  font-weight: bold;
  line-height: 1.4;
  margin-bottom: 20px;
}
@media screen and (max-width: 834px) {
  .offers-files__ttl {
    text-align: center;
    margin-bottom: 10px;
  }
}
.offers-files__item {
  width: calc(50% - 10px);
  display: -ms-flexbox;
  display: -webkit-box;
  display: flex;
  -ms-flex-align: start;
  -webkit-box-align: start;
          align-items: flex-start;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}
@media screen and (max-width: 834px) {
  .offers-files__item {
    width: 100%;
    margin-bottom: 40px;
  }
  .offers-files__item:last-child {
    margin-bottom: 0;
  }
}
.offers-files__img {
  width: 148px;
  -webkit-box-shadow: 3px 3px 6px #00000029;
          box-shadow: 3px 3px 6px #00000029;
}
@media screen and (max-width: 834px) {
  .offers-files__img {
    margin: 0 auto 30px;
  }
}
.offers-files__ct {
  width: calc(100% - 148px);
  padding: 0 0 0 20px;
}
@media screen and (max-width: 834px) {
  .offers-files__ct {
    width: 100%;
    padding: 0;
  }
}
.offers-files__ct p {
  margin-bottom: 10px;
}
.offers-files__ct-ttl {
  display: block;
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 10px;
}
@media screen and (max-width: 834px) {
  .offers-files__ct-ttl {
    font-size: 18px;
  }
}
.offers-files__ct-note {
  display: block;
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 15px;
}
@media screen and (max-width: 834px) {
  .offers-files__ct-note {
    font-size: 16px;
  }
}
.offers-files__ct ul {
  counter-reset: section;
  margin-bottom: 30px;
}
.offers-files__ct ul li {
  position: relative;
  padding: 0 0 0 20px;
  margin-bottom: 15px;
}
.offers-files__ct ul li:last-child {
  margin-bottom: 0;
}
.offers-files__ct ul li:before {
  counter-increment: section;
  content: counters(section, ".") ".";
  position: absolute;
  top: 0;
  left: 0;
}
.offers-files__note {
  display: -ms-flexbox;
  display: -webkit-box;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  border: 1px solid #2072A5;
  margin-bottom: 15px;
}
.offers-files__note-ttl {
  display: -ms-flexbox;
  display: -webkit-box;
  display: flex;
  -ms-flex-pack: center;
  -webkit-box-pack: center;
          justify-content: center;
  -ms-flex-align: center;
  -webkit-box-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  width: 148px;
  background: #2072A5;
  color: white;
  font-size: 18px;
  font-weight: bold;
}
.offers-files__note p {
  width: calc(100% - 148px);
  padding: 15px;
}

.sec-reviews {
  background: #DFEEF7;
  padding: 100px 0;
}
@media screen and (max-width: 834px) {
  .sec-reviews {
    padding: 50px 0;
  }
}

.reviews-block {
  display: -ms-flexbox;
  display: -webkit-box;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  background: white;
  -webkit-box-shadow: 0 0 10px #00000034;
          box-shadow: 0 0 10px #00000034;
  border: 4px solid #DFEEF7;
  padding: 25px;
  margin-bottom: 40px;
}
@media screen and (max-width: 834px) {
  .reviews-block {
    padding: 15px;
  }
}
.reviews-block:last-child {
  margin-bottom: 0;
}
.reviews-block__ttl {
  display: block;
  width: 100%;
  font-size: 20px;
  font-weight: bold;
  color: #0D5582;
  margin-bottom: 25px;
  position: relative;
}
@media screen and (max-width: 834px) {
  .reviews-block__ttl {
    padding: 0 0 0 100px;
    margin-bottom: 20px;
  }
}
.reviews-block__ttl small {
  background: #0D5582;
  color: white;
  line-height: 1;
  font-size: 16px;
  font-weight: 500;
  padding: 4px 6px;
  margin: 0 10px 0 0;
}
@media screen and (max-width: 834px) {
  .reviews-block__ttl small {
    position: absolute;
    top: 0;
    left: 0;
    padding: 8px 6px;
    margin: 0;
  }
}
.reviews-block__img {
  width: 35%;
}
@media screen and (max-width: 834px) {
  .reviews-block__img {
    width: 100%;
    margin-bottom: 20px;
  }
}
.reviews-block__ct {
  width: 65%;
  padding: 0 0 0 30px;
}
@media screen and (max-width: 834px) {
  .reviews-block__ct {
    width: 100%;
    padding: 0;
    margin-bottom: 40px;
  }
}
.reviews-block__ct-ttl {
  display: block;
  position: relative;
  border-left: 4px solid #2072A5;
  font-size: 22px;
  font-weight: bold;
  border-bottom: 2px solid #89B4CE;
  padding: 8px 0 8px 10px;
  margin-bottom: 20px;
}
@media screen and (max-width: 834px) {
  .reviews-block__ct-ttl {
    font-size: 18px;
  }
}
.reviews-block__note {
  margin-top: 20px;
}
@media screen and (max-width: 834px) {
  .reviews-block__note {
    margin-top: 0;
  }
}
.reviews-block__note-ttl {
  display: block;
  font-size: 20px;
  font-weight: bold;
  color: #0D5582;
  border-bottom: 2px solid #2072A5;
  padding: 0 0 6px;
}
.reviews-block__note p {
  position: relative;
  padding: 20px 0 0;
  text-indent: 15px;
}
.reviews-block__note p:before, .reviews-block__note p:after {
  position: absolute;
  color: #89B4CE;
  font-size: 45px;
}
.reviews-block__note p:before {
  content: "“";
  top: 0;
  left: -15px;
}
.reviews-block__note p:after {
  content: "”";
  bottom: -30px;
  right: 0;
}
/*# sourceMappingURL=map/oc-theme.css.map */